.mainDiv {
	background-color:silver;
/* 	position: relative; */
/* 	height: 100%; */
	height: 800px;
/* 	height: 100%; */
/* 	z-index:0; */
}

.passed {
	background-color:green;
}
.failed {
	background-color:red;
}
.locked {
	background-color:blue;
}
.unlocked {
	background-color:orange;
}
.questName {
	background-color:black;
}
.window { 
	border:0.1em dotted #d4e06b; 
	opacity:0.8; 
	filter:alpha(opacity=80); 
  	width:10em; height:4em;   
 	z-index:1;  
 	position:absolute;  
	color:white;
	font-family:helvetica, sans;
 	padding-top:0.9em; 
	font-size:0.9em;
	text-align:center;
	
/* 	background-color:white; */
}

.legend {
	position: absolute;
	right: 2em;
	border: thick;
	border-color: aqua;
}

.legendColor { 
	border:0.1em dotted #d4e06b; 
	opacity:0.8; 
	filter:alpha(opacity=80); 
/*  	width:1em; height:1em;   */
/*  	z-index:1;   */
 	position:relative;  
	color:white;
	font-family:helvetica, sans;
/*  	padding-top:0.9em;  */
	font-size:0.9em;
	text-align:center;
}

