.mainDiv {
	background-color:silver;
	position: relative;
	height: 800px;
	padding: 1.0m;
}

.passed {
	background-color:green;
}
.failed {
	background-color:red;
}
.locked {
	background-color:blue;
}
.unlocked {
	background-color:orange;
}
.questName {
	background-color:black;
}

.questItem { 
	border:0.1em dotted #d4e06b; 
	opacity:0.8; 
	filter:alpha(opacity=80); 
/*   	width:10em; height:4em;    */
  	width:10%; 
  	height:5%;  
 	z-index:1;  
 	position:absolute;  
/*  	position: relative; */
	color:white;
	font-family:helvetica, sans;
 	padding-top:0.9em; 
	font-size:0.9em;
	text-align:center;
	border-radius: 2.0em;
	
/* 	background-color:white; */
}

.legend {
 	position: absolute;
	right: 10%;
	z-index:0;
	border: thick;
}

.saveButton {
 	position: absolute;
	right: 0%;
	bottom:0%;
	z-index:0;
	border: thick;
}

.legendColor { 
	border:0.1em dotted #d4e06b; 
	opacity:0.8; 
	filter:alpha(opacity=80); 
/*  	width:1em; height:1em;   */
/*  	z-index:1;   */
 	position:relative;  
	color:white;
	font-family:helvetica, sans;
/*  	padding-top:0.9em;  */
	font-size:0.9em;
	text-align:center;
}

