.mainDiv {
	background-color: #E0E0E0;
	position: relative;
	height: 800px;
	padding: 1.0m;
}

.questItem { 
	border:0.1em dotted #d4e06b; 
	opacity:0.8; 
	filter:alpha(opacity=80); 
  	width:10%; 
  	height:5%;  
 	z-index:1;  
 	position:absolute;  
	color:black;
	font-family:helvetica, sans;
 	padding-top:0.9em; 
	font-size:0.9em;
	text-align:center;
	border-radius: 2.0em;
	overflow: hidden;
	text-overflow: ellipsis;
	word-wrap:break-word;
/* 	background-color:white; */
}

.questName {
	background-color:black;
	color: white;
}
.passed {
	background-color:#B6D7A8;
}
.failed {
	background-color:#FFE599;
	font-weight: bolder;
	-o-box-shadow: 19px 18px 20px rgba(0, 14, 0, 1);
	-webkit-box-shadow: 19px 18px 20px rgba(0, 14, 0, 1); 
	-moz-box-shadow: 19px 18px 20px rgba(0, 14, 0, 1);
	box-shadow: 19px 18px 20px rgba(0, 14, 0, 1);
}
.unlocked {
	background-color:#FFE599;
	font-weight: bolder;
	-o-box-shadow: 19px 18px 20px rgba(0, 14, 0, 1);
	-webkit-box-shadow: 19px 18px 20px rgba(0, 14, 0, 1);
	-moz-box-shadow: 19px 18px 20px rgba(0, 14, 0, 1);
	box-shadow: 19px 18px 20px rgba(0, 14, 0, 1);
	behavior: url(htc/PIE.htc);
}
.locked {
	background-color:#999999;
}

.legend {
 	position: absolute;
	right: 5%;
	max-width: 80px;
	z-index:0;
	border: thick;
}

.saveButton {
 	position: absolute;
	right: 0%;
	bottom:0%;
	z-index:0;
	border: thick;
}

.legendColor { 
	border:0.1em dotted #d4e06b; 
	opacity:0.8; 
	filter:alpha(opacity=80); 
/*  	width:1em; height:1em;   */
/*  	z-index:1;   */
 	position:relative;  
	color:black;
	font-family:helvetica, sans;
/*  	padding-top:0.9em;  */
	font-size:0.9em;
	text-align:center;
}
.unlockedLegend {
	background-color:#FFE599;
	font-weight: bold;
}


